
.main{
    border: 3px solid #537274 ;
    position: absolute;
    top:25px;
    left: 25px;
    background: url(http://78.media.tumblr.com/75da5b27094fa5505721e720f895f1c4/tumblr_miwfq12T0C1qzcapfo1_500.jpg);
    background-repeat: no-repeat;
    width: 349.6px;
}
.photo, .content{
    display: block;
}
.interesting, .description{
    text-align: center;
    background-color: #fcf1dd;
    padding: 10px;
}

h1{
    color: rgb(43, 45, 49);
    font-family: 'Vollkorn SC', serif;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 20px;
    border: 2px solid transparent;
}

img{
    border:5px solid #537274 ;
    max-width:300px;
    height: auto;
    padding: 10px 10px;
    position: relative;
    left: 10px;
}
.bolded{
    font-weight: bold;
}
#list{
    margin: 8px 
}
ul{
    background-color: #fcf1dd;
}

.italic, .interesting{
    font-style: italic;
}

.content{
    font-size: 15px;
    border: solid  #537274 ;
    border-width: 5px 3px 3px 3px;
}

ul{
    list-style-type: none;
}